@charset "UTF-8";

/* コンテンツ全体に対する指定 */
html {
    font-size: 100%;
}
body {
    font-family: 'M PLUS 1p', sans-serif;
    color: gray;
}
main {
    min-height: calc(100vh - 80px - 70px);
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    opacity: 0.6;
    color: #c9bfbf;
    transition-duration: 0.5s;
}
.wrapper {
    margin: 0;
    padding: 0 4%;
    list-style: none;
}

/* backgroundimage */
#main_content {
    background-image: url(/../images/img00.jpg);
    background-size: cover;
}

/* header */
header {
    background-color: rgb(234, 250, 252);
    display: flex;
    height: 80px;
    align-items: center;
    white-space: nowrap;
}
.header_left {
    float: left;
}
.header_nav_item {
    margin: 0 12px;
    font-size: 14px;
    text-align: right;
}
.header_right {
    float: right;
    display: flex;
    margin-left: auto;
}
.header_right_side {
    padding-right: 2%;
}

/* signup.php */
.signup_content {
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 15%;
    font-size: 12px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    display: block;
    width: 100%;
    background-color: darkgray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 7px;
    text-align: center;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #ffffff
}
.button_area {
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
.login_page_button {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 50%;
    background: gray;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.login_page_button:hover {
    opacity: 0.9;
    background-color: #ffffff;
    transition-duration: 0.7s;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
    transform: translateY(5px);
    color: gray;
}

/* login.php */
.login_content {
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 15%;
    font-size: 12px;
}
input[type="email"],
input[type="passoword"]{
    display: block;
    width: 100%;
    background-color:darkgray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 7px;
    text-align: center;
}
input[type="email"],
input[type="password"]{
    color: #ffffff;
}
.index_page_button {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 50%;
    background: gray;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}
.index_page_button:hover {
    opacity: 0.9;
    background-color: #ffffff;
    transition-duration: 0.7s;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
    transform: translateY(3px);
    color: gray;
}
.signup_page_button {
    text-align: center;
    padding: 5px;
    width: 50%;
    background: #ffffff;
    color: #ecaa63;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
}
.signup_page_button:hover {
    opacity: 0.9;
    background-color: orange;
    color: #ffffff;
}

/* footer */
footer {
    height: 70px;
    background-color: rgb(234, 250, 252);
    width: 100%;
    display: flex;
    justify-content: right;
}
.footer-text {
    color: gray;
    font-size: 1rem;
    padding: 20px 0;
}
